<%= form_for(shorturl) do |f| %>
  <% if shorturl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shorturl.errors.count, "error") %> prohibited this shorturl from being saved:</h2>

      <ul>
      <% shorturl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url_full_id %>
    <%= f.number_field :url_full_id %>
  </div>

  <div class="field">
    <%= f.label :url_string %>
    <%= f.text_field :url_string %>
  </div>

  <div class="field">
    <%= f.label :url_num_accesses %>
    <%= f.number_field :url_num_accesses %>
  </div>

  <div class="field">
    <%= f.label :url_ip_access %>
    <%= f.text_field :url_ip_access %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
